<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- meta -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>天気予報ミニアプリケーション</title>

    <!-- og -->
    <meta property="og:title" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />

    <!-- css -->
    <link rel="stylesheet" href="css/init.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="app" class="weather">
      <div class="weather__box weather__box--clear" v-if="condition == 'Clear'"></div>
      <div class="weather__box weather__box--clouds" v-else-if="condition == 'Clouds'"></div>
      <div class="weather__box weather__box--rain" v-else-if="condition == 'Rain'"></div>
      <div class="weather__box weather__box--other" v-else></div>
      <div class="weather__info">
        <h1 class="weather__title">現在の天気</h1>
        <p class="weather__info__intro">都道府県 を選択してください</p>
        <select v-model="selected" @change="changed(selected)">
          <option> - </option>
          <option value="Hokkaido">北海道</option>
          <option value="Aomori">青森県</option>
          <option value="Iwate">岩手県</option>
          <option value="Miyagi">宮城県</option>
          <option value="Akita">秋田県</option>
          <option value="Yamagata">山形県</option>
          <option value="Fukushima">福島県</option>
          <option value="Ibaraki">茨城県</option>
          <option value="Tochigi">栃木県</option>
          <option value="Gunma">群馬県</option>
          <option value="Saitama">埼玉県</option>
          <option value="Chiba">千葉県</option>
          <option value="Tokyo">東京都</option>
          <option value="Kanagawa">神奈川県</option>
          <option value="Niigata">新潟県</option>
          <option value="Toyama">富山県</option>
          <option value="Ishikawa">石川県</option>
          <option value="Fukui">福井県</option>
          <option value="Yamanashi">山梨県</option>
          <option value="Nagano">長野県</option>
          <option value="Gifu">岐阜県</option>
          <option value="Shizuoka">静岡県</option>
          <option value="Aichi">愛知県</option>
          <option value="Mie">三重県</option>
          <option value="Shiga">滋賀県</option>
          <option value="Kyoto">京都府</option>
          <option value="Osaka">大阪府</option>
          <option value="Hyogo">兵庫県</option>
          <option value="Nara">奈良県</option>
          <option value="Wakayama">和歌山県</option>
          <option value="Tottori">鳥取県</option>
          <option value="Shimane">島根県</option>
          <option value="Okayama">岡山県</option>
          <option value="Hiroshima">広島県</option>
          <option value="Yamaguchi">山口県</option>
          <option value="Tokushima">徳島県</option>
          <option value="Kagawa">香川県</option>
          <option value="Ehime">愛媛県</option>
          <option value="Kochi">高知県</option>
          <option value="Fukuoka">福岡県</option>
          <option value="Saga">佐賀県</option>
          <option value="Nagasaki">長崎県</option>
          <option value="Kumamoto">熊本県</option>
          <option value="Oita">大分県</option>
          <option value="Miyazaki">宮崎県</option>
          <option value="Kagoshima">鹿児島県</option>
          <option value="Okinawa">沖縄県 </option>
        </select>
        <p class="weather__info__humidity">気候：<span class="weather__info__humidity--clear" v-if="condition == 'default'"></span>
          <span class="weather__info__humidity--clear" v-else-if="condition == 'Clear'">晴れ</span>
          <span class="weather__info__humidity--clouds" v-else-if="condition == 'Clouds'">くもり</span>
          <span class="weather__info__humidity--rain" v-else-if="condition == 'Rain'">雨</span>
            <span class="weather__info__humidity--other" v-else>その他</span>
        </p>
        <p class="weather__info__temp">気温：<span v-if="temp == ''"> ℃</span>
          <span v-else>{{ temp | roundUp }} ℃</span>
        </p>
        <p class="weather__info__humidity">湿度：{{ humidity }} %</p>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
